
    *{
        margin:0;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: #4CAF50;
      }



      /* --- */

      .player-btn{
        cursor: pointer;
    }
    .voice-container{
        padding: 10px;
        display:inline-flex; 
        background-color: #ecb331;
        border-radius: 0.4rem;
        box-sizing: border-box;
        width: 236px;
        max-width: 100%;
    }
    .voice-container img{
        height: 20px;
    }
    .voice-container span.voice-timer{
        position: relative;
        top: 2px;
        margin-left: 2px;
    }
    .voice-container input[type="range"]{
        height: 6px;
        position: relative;
        top:10px;
    }
.slider {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
   -webkit-transition: .2s; 
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #f8f8f8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #aa7c11;
  cursor: pointer;
} 
 